* {
  box-sizing: border-box;
}

header {
  margin: auto;
  max-width: 570px;
  padding: 30px 0;
}

.input-search input {
  font-size: 18px;
  margin-right: 20px;
  min-width: 400px;
  padding: 10px 15px;
}

.input-search button {
  font-size: 16px;
  padding: 11px 30px;
}

.home-initial-message {
  text-align: center;
}

nav {
  align-items: center;
  background-color: rgb(224, 222, 222);
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}

nav .cart {
  font-size: 16px;
  margin-left: 10px;
  padding: 5px 20px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 100px;
}

.category-list {
  background-color: rgb(224, 222, 222);
  border-radius: 12px;
  margin-right: 40px;
  padding: 30px 0;
  width: 300px;
}

.category-list li {
  list-style: none;
}

.card {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: inline-block;
  height: 400px;
  margin: 20px;
  padding: 10px;
  transition: 0.3s;
  width: 200px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card img {
  height: 200px;
  padding: 10px;
  width: 100%;
}

.card-list {
  display: flex;
  width: 730px;
}
